<main class="container" ng-controller="mainCtrl">
  <section class="top-section">
    <div class="top-section__form">
        <div>
          <label for="user-name">Имя</label>
          <input ng-change="validation($event)" id="user-name" type="text" name="name" ng-model="name">
          <span class="hide-field">Введите Имя</span>
      </div>
        <div>
          <label for="user-description">Комментарии</label>
          <input ng-change="validation($event)" id="user-description" type="text" name="description" ng-model="description">
          <span class="hide-field">Введите Комментарии</span>
        </div>
        <div class="top-section__button">
          <button type="button" class="" ng-click="addItem($event, name, description)">+ добавить</button>
        </div>
    </div>
    <div class="top-section__description">
      <p>{{textDesc}}</p>
    </div>
  </section>
  <section class="center-section">
    <ul class="center-section__list" >
      <li ng-click="viewDescription($event)" ng-repeat="item in array track by $index" id="list-{{$index}}">{{item.name}}
        <div class="icons">
         <button ng-click="editItem($event, $index)"><i class="fas fa-pencil-alt"></i></button>
          <button  ng-click="removeItem($event, $index)"><i class="fas fa-times"></i></button>
        </div>
      </li>
    </ul>
  </section>
</main>
<footer class="footer">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti,
    sint hic? Eligendi veniam atque reprehenderit modi illum ab, reiciendis.</p>
</footer>