body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: inherit;
    max-height: 50vh;
    &__form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #898988;
        width: 50%;
        padding: 4px 20px 19px 20px;
        border: 2px solid black;
        overflow: auto;
        label{
            display: block;
            margin-top: 20px;
        }
        input{
            width: 100%;
            margin-top: 5px;
            padding-left: 10px;
            height: 25px;
        }
        span{
            display: none;
            margin-top: 5px;
            color: red;
        }
    }
    &__description{
        background-color: #807e7e;
        width: 50%;
        border: 2px solid black;
        padding: 10px 10px 10px 10px;
        overflow-wrap: break-word;
        overflow: auto;
        p{
            line-height: 20px;
            font-size: 15px;
        }
    }
    &__button{

        button{
            width: 100%;
            height: 40px;
            border: 2px solid black;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
            background: rgb(135, 180, 138);
            margin-top: 30px;
        }
    }
}
.center-section{
    border: 2px solid black;
    overflow: auto;
    height: 100%;
    ul{
        
        li{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 15px 15px 15px 15px;
            font-size: 20px;
            border-bottom: 2px solid black;
            cursor: pointer;
            button{
                background-color: transparent;
            }
            i{
                margin-right: 10px;
                cursor: pointer;
            }
        }
    }
    
}
.footer{
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    background: rgb(80, 76, 76);
    color: white;
    width: 50%;
    max-width: 500px;
    margin: 0 auto;
    height: 50px;
    p{
        font-size: 14px;
    }
}